.title {
  color: $primary;
  font-size: 3rem;
  text-align: center;

  &::after {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 3rem;
    margin: 0 0 0 0.5rem;
    background: $white;
    animation: blink 0.5s forwards infinite;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 15rem 1rem;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
